header{
    padding: 200px;
    font-size: 30px;
    font-family:'segoe UI';
    text-align: center;
    color: blue;
    background-image: url('img2.jpg') ;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    border: 3px solid rgb(0, 17, 128);
    border-radius: 8px;
}

.title{
    margin: 50px 200px;
    border: 5px solid plum;
    border-radius: 10px;
    border-width: 10px;
    padding: 15px;
    color:palevioletred;
    background-color:bisque;
    text-align: center;
    font-size:x-large;
    font-family: Georgia;
    font-weight: bolder;
    box-shadow: 10px 10px 50px 2px rgb(199, 145, 199);
}

#p1{
    margin: 50px 100px;
    padding: 50px;
    border: 5px solid plum;
    border-radius: 10px;
    color:darkmagenta;
    background-color:honeydew;
    text-align:left;
    font-size: 20px;
    font-family:'Cambria';
    font-style: italic;
}

#p2{
    margin: 50px 100px;
    padding: 50px;
    border: 5px solid plum;
    border-radius: 10px;
    color: brown;
    background-color:beige;
    text-align:right;
    font-size: 20px;
    font-family:'Arial';
    font-style:oblique;
}

#p3{
    margin: 50px 100px;
    padding: 50px;
    border: 5px solid plum;
    border-radius: 10px;
    color:chocolate;
    background-color:cornsilk;
    text-align:center;
    font-size: 20px;
    font-family:'Calibri';
    font-style:inherit;
}

.div{
    text-align: center;
}

input{
    font-weight: bolder;
    margin: 10px 200px;
    padding: 10px;
    text-align: center;
    color: brown;
    background-color:aqua;
    border: 4px solid rgb(12, 132, 208);
    border-radius: 10px;
    box-shadow: 10px 10px 20px 2px rgb(172, 199, 235);
}
input:hover{
    background-color: bisque;
    border: 4px solid rgb(221, 166, 100);
}

ul{
    margin: 50px 100px;
    padding: 100px;
    border: 5px solid plum;
    border-radius: 10px;
    border-width: 5px;
    color:indianred;
    background-color:papayawhip;
    text-align:center;
    font-size: 20px;
    font-family:'Calibri';
    font-style:inherit;
    /* display: none; */
    /* visibility: hidden; */
}

li{
    font-weight: bolder;
    text-align: center;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 3px solid brown;
    border-radius: 4px;
    background-color:aquamarine;
}