div{
    padding: 10px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}
input[type="search"]{
    border-radius: 3px;
    border-color: cornflowerblue;
}
img{
    background-color: white;
}
fieldset{
    border: none;
}
legend{
    padding-top: 10px;
}
fieldset label{
    display: block;
    padding: 5px 0;
}
