*{
    padding: 30px;
}

h2{
    text-decoration: underline;
}

.third{
    color: blueviolet;
    background-color: rgb(201, 201, 239);
    text-align: center;
    font-style: italic;
}

#p3{
    background-color:darksalmon;
}