body{
    max-width: 1170px;
    background-color:rgba(133, 227, 235, 0.577);
    margin: 0 auto;
}
.card-section{
    text-align: center;
}
.card-section h2{
    font-size: 30px;
    font-weight: bolder;
    color: blue;
}

.card-container{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.card{
    background-color: white;
    text-align: justify;
    width: 300px;
    border: 2px solid sandybrown;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgb(196, 194, 194);
}

.card:hover{
    background-color: rgba(127, 255, 212, 0.687);
}
.card h3{
    font-size:1.25em;
    font-weight: 700px;
}
.card img{
    width: 300px;
    height: 280px;
    border-radius: 10px;
}

.card button{
    font-weight: 1000px;
    color: blue;
    background-color: aqua;
    border: 2px solid rgb(95, 95, 239);
    border-radius: 10px;
    padding: 8px 12px;
    cursor: pointer;
}
.card button:hover{
     background-color: turquoise;
}
