.article{
    border: 10px solid black;
    background-color: pink;
    margin: 40px;
    width: 500px;
    box-shadow: -30px 20px 30px 5px gray;  /* box-shadow: x y blur spread color; */
}

.header{
height: 500px;
background-color: aquamarine;
background-image: url('../img2.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}