.blog {
    color: brown;
    background-color: lightpink;
}

h2{
    text-decoration: underline;
}

#second-blog{
    background-color: aquamarine;
    /* display: none; */
    /* visibility: hidden; */
}

#minima{
    color: red;
    border: 4px solid purple;
    width: 200px;
    height: 30px;
    display: block;
}
/* li{
    display: inline;
} */