*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}

/* Shared Class */
.btn{
    background-color:#FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18.28px 35px 19.3px 36px;
    font-size: 20px;
    font-weight: bold;
    color:white ;
    cursor: pointer;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}

.section-heading p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

.text-center{
    text-align: center;
}

/* Main Style */
header{
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png);
    background-position: 23px  38px, bottom right;
    background-repeat: no-repeat;
    background-color: #FFF8F3;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner{
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content{
    max-width: 585px;
    /* max-height: 356px; */
}

.banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color:#474747;
    margin-bottom: 5px;
}

.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color:#181818;
    margin-bottom: 20px;
}

.banner-content p{
    font-size: 18px;
    font-weight:normal;
    color:#757575;
    line-height: 30px;
    margin-bottom: 30px;
}

.banner-image{
    /* max-height: 676px; */
    max-width: 584px;
    vertical-align: middle;
}

#about, #skills, #resume{
    padding-top: 130px;
}

.about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 131px 156px;
    text-align: center;
    background-color:#FFF8F3;
}

.about-container .about-info{
    display: flex;
    justify-content: space-around;
}

.about-info p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}

.about-info h4{
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}


.skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

.skill-box{
    display: flex;
    gap: 24px;
}

.skill-card{
    padding: 30px;
    max-width: 267px; 
    border-radius: 10px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.21);
}

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;
}

.resume-container{
    width: 71%;
    max-width: 140;
    margin: 113px auto 50px;
    display: flex;
    gap: 24px;
}

.resume-container hr{
    color: #D1D1D1;
    margin: 30px 0;
}

.section-title{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.card-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}

.card-info{
    font-size: 20px;
    font-weight: 600px;
    color:#757575;
    margin-bottom: 20px;
}

.card-text{
    font-size: 16px;
    line-height: 28px;
    color:#757575;
}

footer{
    margin-top: 113px;
    padding: 130px;
    background-color:#FFF8F3;
}

.footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 117px;
}

.footer-container h2{
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}

.sosial{
    max-width: 562px;
}

.footer-container p{
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
}

.footer-container .icons a{
    margin-right: 24px;
}

form input,textarea{
    color: #757575;
    width: 461px;
    border: none;
    border-radius: 5px;
    padding: 18px 30px;
    margin-bottom: 24px;
}
